In [49]:
import pandas as pd
import numpy as np

# Lists, dict, Series, Numpy arrays, DataFrame

a = pd.Series()
type(a)
b = pd.DataFrame()
type(b)
b1 = pd.DataFrame([1,2,3,4])
b2 = pd.DataFrame([[1,2],[3,4]])
b3 = pd.DataFrame([['a',10], ['b',20], ['c',30]])
b4 = pd.DataFrame({'Name':['홍길동','강감찬','이순신'],'Age':[10,30,40]})
b5 = pd.DataFrame([{'a':1, 'b':2}, {'a':1, 'b':4}])
data1 = [{'a':1, 'b':2}, {'a':1, 'b':4}]
b6 = pd.DataFrame(data1, index=['one', 'two'], columns=['col1', 'col2'])
b7 = pd.DataFrame(data1, index=['one', 'two'], columns=['a', 'b'])
# NaN(Not a Number)
a1 = pd.Series([1,2,3,4])
a2 = pd.Series([3,4,5,6])
data2 = {'a' : a1, 'b' : a2}
b8 = pd.DataFrame(data2)
b9 = pd.DataFrame([1,2,3])
b9[0]
b7['c'] = pd.Series([10,20], index=['one','two'])
del b7['c']
b7

     a  b
one  1  2
two  1  4